/* 
重置vant样式文件
*/

/* indexWrap组件导航栏添加外底边距 */
 .title_div .van-row--justify-center{
    margin-bottom: .5rem;
}
/* 更改tabWrap高度 */
.tabWrap .van-tabs__nav--line{
    height: .8rem;
}
.tabWrap .van-tab__text--ellipsis{
    font-size: .4rem;
    height: .8rem;
    line-height: .6rem;
}
.tabWrap .van-tabs--line .van-tabs__wrap{
    height: 0.8rem;
}
/* 更改grid组件的样式 */

.goodsColumn_Wrap .goodsColumn_item .van-icon__image{
    width: 2rem;
    height: 1.47rem;
    object-fit: contain;
}
.goodsColumn_Wrap .goodsColumn_item .van-grid-item__text{
    color: #646566;
    font-size: .32rem;
    line-height: 1.5;
    word-break: break-all;
}

/* 限时购CountDown组件 */

.countDownWrap .van-count-down{
    font-size: .37rem;
    display: inline-block;
    position: absolute;
    top: .56rem;
    margin-left: .3rem;
}
.countDownWrap .van-count-down .block {
    display: inline-block;
    width: .6rem;
    color: #fff;
    height: .6rem;
    font-size: .37rem;
    text-align: center;
    background-color: #ee0a24;
    line-height: .6rem;
    border-radius: .05rem;
}
/* 限时购产品展示样式 */
.countDownProductWrap .van-grid-item__content{
    /* background: #f5f5f5; */

}
.countDownProductWrap i{
    background: #f5f5f5;
    padding: 0 .6rem;
}

/* 底部标签栏 */
.footer_div{
    height: 1rem;
}
.footer_div .van-tabbar-item__icon{
    font-size: .4rem;
}
.footer_div .van-tabbar-item{
    font-size: .32rem;
}
.footer_div .van-tabbar{
    height: 1rem;
}

/* cateListSliderBar 分类页侧边导航样式 */
.cateListSliderBar{
    float: left;
}
.cateListSidebar .van-sidebar{
    width: 2.2rem;
}
.van-sidebar .van-sidebar-item{
    font-size: .3733rem;
    line-height: .8rem;
    height: 1.2rem;
    padding-left: .36rem;
}
.cateListSidebar .van-sidebar-item--select::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: .1rem;
    height: .8rem;
    background-color: #ee0a24;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    /* line-height: 0.2rem; */
    margin-top: .05rem;
}
/* cateList右侧轮播图样式 */
.productListWrap .van-swipe{
    padding: .3rem .3rem .3rem 2.48rem;
}
.productListWrap .van-grid{
    padding: 0 .2rem 1rem 0rem;
    position: absolute;
    left: 2.4rem;
    width: 3rem;
}
/* cateList右侧产品宫格样式 */
.defalutGridWrap{
    display: inherit;
    width: 100%;
}
.defalutGridWrap .van-grid-item__icon{
    font-size: 2rem;
    width: 2rem;
}
.defalutGridWrap .van-grid-item__text{
    color: #646566;
    font-size: .36rem;
    line-height: 1.5;
    word-break: break-all;
}

/* list组件tab标签样式 */
.listTitleTab .van-tab{
    font-size: .42rem;
}
.listTitleTab .van-tabs__wrap{
    height: 1rem;
}
.listTitleTab .van-tab__text--ellipsis{
    padding: .6rem 0;
}
/* list组件grid样式 */
.listGridWrap .van-icon{
    background-color: #f4f4f2;
}
.listGridWrap .van-grid-item__icon{
    font-size: 4.5rem;
    border-radius: 0.2rem;
    overflow: hidden;
}
.listGridWrap .van-grid-item__content{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    padding: 16px 8px;
    background-color: #fff;
}
.listGridWrap .van-grid-item__text {
    color: #000;
    font-size: .4rem;
    line-height: 1.5;
    word-break: break-all;
}
/* list组件goodsAction组件样式 */
.goodsActionCls{
    font-size: .4rem;
}
.goodsActionCls{
    height: 1.4rem;
}
.goodsActionCls .van-goods-action-icon{
    font-size: .34rem;
}
.goodsActionCls .van-goods-action-icon__icon{
    width: 2rem;
    font-size: .8rem;
    padding-top: .12rem;
}
.goodsActionCls .van-goods-action-button--first{
    margin-left: 5px;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
    height: 100%;
    font-size: .45rem;
    border: solid 1px #000;
}
.goodsActionCls .van-goods-action-button--first span{
    color: #000;
}
.goodsActionCls .van-goods-action-button--last{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    font-size: .45rem;
}
.goodsActionCls .van-button__content{
    border-top: solid 1px #e0e0e0;
    border-left: solid 1px #e0e0e0;
}
/* skuWrap组件样式 */
.skuWrap .van-sku__stock,.van-sku__price-num{
    font-size: .37rem;
}
.skuWrap .van-sku-header-item{
    padding-top: .1rem;
    font-size: .32rem;

}
.van-sku-container{
    font-size: .37rem;
}
.skuWrap .van-multi-ellipsis--l2{
    height: .5rem;
    padding: .2rem 0;
    font-size: .34rem;
}
.skuWrap .van-cell{
    font-size: .32rem;
}
.skuWrap 
.van-stepper__input,
.van-stepper__plus,
.van-stepper__minus{
    width: .6rem;
    height: .6rem;
    font-size: .36rem;
}
.skuWrap .van-sku-actions .van-button{
    font-size: .36rem;
    height: 1rem;
}
.skuWrap .van-sku-row__image-item-img-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
    width: 28px;
    height: 28px;
    color: #fff;
    line-height: 29px;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    border-bottom-left-radius: 4px;
}
.skuWrap .van-toast{
    font-size: .37rem;
}
.skuWrap .van-toast--html, .van-toast--text{
    padding: .2rem .2rem;
    font-size: .37rem;
}
/* vant-form表单组件 components-login组件 */
.loginCpt{
    margin: 0 auto;
}
.loginCpt .van-form{
    /* padding-top: 3rem; */
    position: absolute;
    top: 3rem;
}
.loginCpt .van-form .van-cell{
    font-size: .46rem;
    height: 1rem;
}
.loginCpt .van-button--block{
    top: 0 !important;
}
.loginCpt .van-field__error-message{
    font-size: .32rem;
}
/* dialog弹窗样式 */
.van-dialog{
    height: 2.4rem;
    width: 5rem;
}
.van-dialog__message{
    font-size: .36rem;
    line-height: .6rem;
}
.van-dialog__footer .van-button{
    font-size: .36rem;
    padding-bottom: .2rem;
}