/* 
样式重置文件
*/

body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial,"微软雅黑";
    font-size: 12px;
    color: #434343;
}
/* .clear {
    clear: both;
    font-size: 0px;
} */
ul,li {
    list-style: none;
}
img {
    border: none;
}
/*一般链接*/
a {
    text-decoration: none;
    color: #555;
}
a:hover {
    color: #3366ff;
} 